/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  background-color: #FFF7F0;
}

.container {
  max-width: 1440px;
}

.header {
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  padding-top: 36px;
  margin-bottom: 66px;
}

.header-tag {
  background-color: #030303;
  padding: 12px 45px 12px 45px;
  border-radius: 50px;
  display: block;
  text-align: center;
}

.header a {
  text-decoration: none;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #FFF7F0;
  display: block;
}

.section {
  max-width: 1110px;
  margin-inline: auto;
}

.header-text {
  text-align: center;
}

.header-text h1 {
  font-family: 'Plus Jakarta Sans';
  font-size: 56px;
  font-weight: 700;
  line-height: 70.56px;
  text-align: center;
  color: #030303;
  margin-bottom: 23px;
}

.header-text p {
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #7A746E;
  margin-bottom: 80px;
}


.design-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 136px;
}

.c2a {
  display: flex;
  gap: 125px;
  margin-bottom: 88px;
}

c2a-text {
  width: 540px;
  margin-block: auto;
}

.c2a-text h2 {
  font-family: 'Plus Jakarta Sans';
  font-size: 40px;
  font-weight: 700;
  line-height: 50.4px;
  color: #030303;
  margin-bottom: 34px;
}

.c2a-text p {  
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #7A746E;
  margin-bottom: 32px;
}

.c2a-buton {
  width: 228px;
  background-color: #EB7565;
  border-radius: 50px;
} 

.c2a-text a {
  padding: 14px 45px 14px 45px;
  text-decoration: none;
  color: #FFF7F0;
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}

.work-section {
  margin-bottom: 88px;
}

.work-section h4 {
  font-family: 'Plus Jakarta Sans';
  font-size: 32px;
  font-weight: 700;
  line-height: 40.32px;
  text-align: center;
  color: #030303;
  margin-bottom: 56px;
}

.slider {
  position: relative;
  width: 100%;
  height: 350px;
  margin: 2rem auto;
  background: #ddd;
}
.slider .slides {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-points-x: repeat(100%);
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-type: mandatory;
    -webkit-scroll-snap-points-x: repeat(100%);
    font-size: 0;
}
.slider .slide {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.slider .slide p {
  position: absolute;
  display: block;
  bottom: 0; left: 0;
  width: 100%;
  font-size: 1rem;
  color: #000;
  background: rgba(0,0,0,0.15);
  padding: 1em;
  margin: 0;
  white-space: normal;
}
.slider #slide-1 {background: #afa;}
.slider #slide-2 {background: #ffa;}
.slider #slide-3 {background: #faa;}
.slider #slide-4 {background: #aff;}

.slider-buttons {
  position: absolute;
  top: 0; right: 0;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: right;
  z-index: 2;
}
.slider-buttons a {
  width: 2em;
  display: inline-block;
  background: rgba(0,0,0,0.15);
  text-align: center;
  padding: 0.5em 0;
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
  height: 34px;
}
::-webkit-scrollbar-track {
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #ddd url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42863/grab.png) center no-repeat;
  background-size: 24px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  position: absolute;
  top: 0;
  display: block;
  height: 34px;
  width: 34px;
  background: #ccc;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42863/arrow2.png);
  background-size: 100%;
}
::-webkit-scrollbar-button:end:increment {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42863/arrow.png);
}


@media (max-width: 600px) {
  .content {width: 95%;}
}

.footer {
  display: flex;
  gap: 182px;
  max-width: 1110px;
  background-color: #030303;
  margin-bottom: 56px;
}

.footer-text {
  margin-top: 81px;
  margin-left: 65px;
}

.footer-text h3 {
  font-family: 'Plus Jakarta Sans';
  font-size: 40px;
  font-weight: 700;
  line-height: 50.4px;
  color: #FFF7F0;
  margin-bottom: 25px;
}

.footer-text p {
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #FFF7F0;
  margin-bottom: 80px;
}

.footer-c2a {
  width: 228px;
  background-color: #EB7565;
  border-radius: 40px;
  margin-block: 132px;
  margin-right: 95px;
}

.footer-c2a  a {
  padding: 14px 45px 14px 45px;
  text-decoration: none;
  color: #FFF7F0;
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.page-footer {
  display: flex;
  justify-content: space-between;
}

.footer-buton {
  width: 228px;
  background-color: #030303;
  border-radius: 40px;
}

.page-footer a {
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  padding: 14px 45px 14px 45px;
  color: #FFF7F0;
  text-decoration: none;
}